version: "3.9"

networks:
  codemy-network:
    external: true   # Nếu bạn đã tạo trước. Nếu chưa, để internal.

services:
  identity-api:
    image: monmoonluna/codemy-identity-api:latest
    container_name: identity-service
    networks:
      - codemy-network
    env_file:
      - ./.env.deploy
    restart: always
    ports:
      - "8080:5197"
      - "8443:7046"

  review-api:
    image: monmoonluna/codemy-review-api:latest
    container_name: review-service
    networks:
      - codemy-network
    env_file:
      - ./.env.deploy
    restart: always
    ports:
      - "8085:5041"
      - "8442:7048"

  search-api:
    image: monmoonluna/codemy-search-api:latest
    container_name: search-service
    networks:
      - codemy-network
    env_file:
      - ./.env.deploy
    restart: always
    ports:
      - "8086:5004"
      - "8441:7180"

  courses-api:
    image: monmoonluna/codemy-courses-api:latest
    container_name: courses-service
    networks:
      - codemy-network
    env_file:
      - ./.env.deploy
    restart: always
    ports:
      - "8084:5079"
      - "8448:7024"

  payment-api:
    image: monmoonluna/codemy-payment-api:latest
    container_name: payment-service
    networks:
      - codemy-network
    env_file:
      - ./.env.deploy
    restart: always
    ports:
      - "8081:5299"
      - "8445:7099"

  notification-api:
    image: monmoonluna/codemy-notification-api:latest
    container_name: notification-service
    networks:
      - codemy-network
    env_file:
      - ./.env.deploy
    restart: always
    ports:
      - "8082:5180"
      - "8446:7187"

  enrollment-api:
    image: monmoonluna/codemy-enrollment-api:latest
    container_name: enrollment-service
    networks:
      - codemy-network
    env_file:
      - ./.env.deploy
    restart: always
    ports:
      - "8083:5178"
      - "8447:7078"

  api-gateway:
    image: monmoonluna/codemy-api-gateway:latest
    container_name: api-gateway-service
    networks:
      - codemy-network
    env_file:
      - ./.env.deploy
    restart: always
    ports:
      - "8444:7000"