version: '3.9'

services:
  apigateway:
    build: ./src/ApiGateway
    container_name: codemy-apigateway
    ports:
      - "8080:8080"
    depends_on:
      - identity
      - course

  identity:
    build: ./src/Services/Identity
    container_name: codemy-identity
    ports:
      - "5001:8080"

  course:
    build: ./src/Services/Course
    container_name: codemy-course
    ports:
      - "5002:8080"
